{% extends "layout.html" %}
{% block content %}
	{% for p in pr %}
		  <div class="card mt-4 border-light rounded">
			  <div class="row">
				  <div class="col-md-12">
					  <p class="article-content"> {{ p.first_name }} has requested your tutoring service.</p>
					  <a href="{{ url_for('accepted', recipient=p.id) }}"><button class="btn btn-success"> Accept </button></a>
					  <a href="#"><button class="btn btn-danger"> Decline  </button></a>
				  </div>
			</div>
		</div>
	{% endfor %}
{% endblock content %}

