{% extends "layout.html" %}
{% block content %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + tutor.image_file) }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ tutor.first_name }}</a>
                      {% if current_user.user_type == 'Parent' %}
                          <a class="mr-2" href="{{ url_for('send_request', recipient=tutor.id) }}">Request</a>
                       {% endif %}
                    </div>
                    <p class="article-content"><b>Rate:</b> {{ tutor.rate }}</p>
                    <p class="article-content"><b>About Me:</b> {{ tutor.bio }}</p>
                  </div>
                </article>
{% endblock content %}

